doctype html.no-js(lang='')

head
    title educationCU
    include ./boilerplate/head.jade

  body
    include ./boilerplate/browsehappy.jade
    .container-fluid
      .head
        include ./components/header/header.jade
      .main#main
        include ./components/main/main.jade
      .foot
        include ./components/footer/footer.jade

    include ./boilerplate/scripts.jade
